* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

::selection {
    background-color: rgb(58, 141, 239);
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.centrado {
    max-width: 1140px;
    margin: 0 auto;
}

#botonAbajo {
    position: fixed;
    z-index: 9;
    cursor: pointer;
    height: 60px;
    background-color: #dd5347;
    border-radius: 50%;
    bottom: 60px;
    box-shadow: 0 14px 59px -7px rgb(0 0 0 / 85%);
    right: 20px;
    width: 60px;
}

#botonAbajo i {
    font-size: 30px;
    color: white;
    display: inline;
    height: 5px;
    margin: 15px 14px;
    padding: 3px;
    position: absolute;
}

#nav {
    z-index: 1;
    height: 69px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    width: 100%;
    position: fixed;
    top: 0;
}

#logo {
    overflow: hidden;
    font-size: 0;
    float: left;
    display: inline;
    clear: both;
}

#logo a {
    display: inline-block;
    /*    background-size: 104px;*/
    /*    border: 1px solid #000;*/
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 104px;
    height: 24px;
    margin-left: 20px;
    margin-top: 20px;
}

#menu {
    float: right;
    position: absolute;
    right: 0;
    top: 0px;
}

#menu li {
    /*    border: 1px solid #000;*/
    float: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}

#menu li a {
    text-align: center;
    display: inline-block;
    height: 59px;
    padding: 27px 32px;
    color: #333333;
    width: 200px;
    height: 69px;

}

#menu li a:hover {
    color: #dd5347;
}

#menu li:nth-child(3) a,
#menu li:nth-child(4) a {
    color: #fff;
    background-color: #dd5347;
}

#menu li:nth-child(4) a {
    display: none;
}

#cabecera {
    height: 550px;
    margin-top: 72px;
    background-image: url(../img/home-hero_2x.jpg);
    background-size: cover;
}

#portada {
    padding: 60px 129px;
}

h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 100;
    line-height: 62px;
    width: 400px;
    padding-bottom: 7%;
}

.boton {
    text-transform: uppercase;
    display: inline-block;
    background-color: #dd5347;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    padding: 20px 30px;
}

#portada a:last-child {
    display: none;
}

#nuevaBandeja,
#temasPer,
#disfrutaGmail {
    padding: 3% 0% 3% 0%;
    text-align: center;
    overflow: hidden;
}

#textBandeja,
#textTemas {
    max-width: 400px;
    padding: 2% 0 3%;
}

h2 {
    color: #333;
    font-weight: 100;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 7%;
}

p {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 2%;
}

#imagenMovida {
    height: 190px;
    background-image: url(../img/inboxtabs.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.botonImg {
    display: inline-block;
}

.botonImg img {
    width: 150px;
    height: auto;
}

#imgDisp {
    /*    height: 750px;*/
    padding: 0 0 50% 0;
    background-image: url(../img/any-device.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#archAdj {
    text-align: left;
    background-color: #f9f9f9;
    overflow: hidden;
}

#textAdj {
    width: 30%;
    padding: 5% 0% 5% 5%;
    float: left;
}

#imgTab {
    /*    border: 1px solid #000;*/
    width: 70%;
    margin: 30px auto;
    float: right;
    height: 500px;
    background-image: url(../img/attachments-tablet_2x.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#postales {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    height: 600px;
}

#postales div {
    width: 100%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    padding: 0 0 59% 0;
    border: 8px solid #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#postal1 {
    opacity: 0;
    background-image: url(../img/themes1.jpg);
    animation-name: postal_1;
}

#postal2 {
    opacity: 0;
    background-image: url(../img/themes2.jpg);
    animation-name: postal_2;
}

#postal3 {
    opacity: 0;
    background-image: url(../img/themes3.jpg);
    animation-name: postal_3;
}

#postal4 {
    opacity: 0;
    background-image: url(../img/themes4.jpg);
    animation-name: postal_4;
}

@keyframes postal_1 {
    0% {
        opacity: 1;
    }

    5% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes postal_2 {
    0% {
        opacity: 0;
    }

    24% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes postal_3 {
    0% {
        opacity: 0;
    }

    48% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    74% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes postal_4 {
    0% {
        opacity: 1;
    }

    1% {
        opacity: 0;
    }

    74% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

#todoBandeja {
    text-align: center;
    background-color: #f9f9f9;
    height: 700px;
    overflow: hidden;
}

#txtBandeja {
    padding: 50px;
}

#txtBandeja p {
    width: 400px;
    margin: 0 auto;
}

#imgBandeja {
    /*    border: 1px solid #000;*/
    width: 100%;
    height: 600px;
    background-image: url(../img/action-4_2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#mejorInterfaz {
    text-align: left;
    overflow: hidden;
    margin-top: 4%;
    margin-bottom: 4%;
}

#imgInterfaz {
    /*    border: 1px solid #000;*/
    margin-left: 50px;
    width: 61%;
    float: left;
    height: 500px;
    background-image: url(../img/bettercompose_2x.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#txtInterfaz {
    width: 30%;
    padding: 3% 0 13%;
    float: left;
}

#gmailEmpresa {
    background-color: #f9f9f9;
    text-align: center;
}

#txtConsigue {
    padding: 70px 0;
    width: 400px;
}

#txtConsigue p + a {
    text-transform: uppercase;
    color: #dd5347;
    font-size: 12px;
    font-weight: 400;
    display: block;
    padding: 30px;
}

#txtConsigue span {
    color: #4a90e2;
    font-weight: 400;
}

#rallaColores {
    height: 2px;
    width: 100%;
    background-color: white;
    padding-right: 50px;
}

#colores {
    float: right;
}

#azul,
#rojo,
#amarillo,
#verde {
    float: left;
    height: 2px;
}

#azul {
    border-left: 34px solid #0089fa;
}

#rojo {
    border-right: 35px solid #ff002b;
}

#amarillo {
    border-left: 35px solid #ffa900;
}

#verde {
    border-right: 34px solid #00a753;
}

#footer {
    /*    border: 1px solid #000;*/
    background-color: #f9f9f9;
}

#iconsRedes {
    /*    border: 1px solid #000;*/
    align-items: center;
    float: left;
    padding: 10px 0;
    padding: 16px 120px 14px;
}

#iconsRedes li {
    /*    border: 1px solid #000;*/
    float: left;
    padding-left: 5px;
}

#iconsRedes li a {
    background-color: #4e4e4e;
    display: inline-block;
    padding: 5px;
    color: #fff;
}

#iconsRedes i {
    font-size: 16px;
}

#links {
    /*    border: 1px solid #000;*/
    clear: both;
    align-items: center;
    float: left;
    padding: 16px 120px 14px;
}

#links li {
    float: left;
    padding-right: 21px;
}

#links li a {
    color: blue;
    cursor: pointer;
}

#bajo {
    background-color: #eaeaea;
    font-size: 11px;
    padding: 16px 120px 14px;
    height: 50px;
    clear: both;
    align-items: center;
}

#terms {}

#terms li {
    float: left;
    padding-right: 10px;
}

#terms li a {
    cursor: pointer;
    color: blue;
}

#lengua {
    /*    border: 1px solid #000;*/
    background-image: url(../img/blueglobe.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: left top;
    padding: 0 0 0 30px;
    align-items: center;
    float: right;
}

#cuadro {
    border: 1px solid #000;
    width: 250px;
    height: 25px;
    text-align: left;
    background-color: white;
}

#cuadro p {
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 1px;
    width: 90%;
    float: left;
}

#cuadro i {
    width: 10%;
    float: right;
    padding-top: 5px;
}

/*********************media queriiiiii 960px **********************************/
@media screen and (max-width: 960px) {

    #postales {
        height: auto;
        padding: 0 0 58.8% 0;
    }
}

/*********************media queriiiiii 777px **********************************/
@media screen and (max-width: 777px) {
    body {
        /*        background-color: grey;*/
    }

    #nav {
        /*    border: 1px solid #000;*/
        height: 121px;
        width: 100%;
        position: fixed;
        top: 0;
    }

    #logo {
        /*        overflow: hidden;*/
        position: absolute;
    }

    #menu {
        height: 121px;
        width: 100%;
        /*        position: relative;*/
    }

    #menu li {
        font-size: 13px;
    }

    #menu li:first-child a {
        /*        border: 1px solid red;*/
        float: left;
        position: absolute;
        top: 62px;
        padding-left: 0px;
        width: 174px;
    }

    #menu li:nth-child(2) a {
        /*        border: 1px solid #000;*/
        position: absolute;
        right: 0;
        top: 62px;
    }

    #menu li:nth-child(3) a {
        display: none;
    }

    #menu li:nth-child(4) a {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }

    #portada a:nth-child(2) {
        display: none;
    }

    #portada a:last-child {
        display: inline-block;
    }

    #imagenMovida {
        background-size: 926px;
        background-position: center top;
        transition: all 5s ease;
    }

    #imgDisp {
        padding: 0 0 69% 0;
        background-image: url(../img/any-device-mobile.jpg);
    }

    #archAdj {
        text-align: center;
    }

    #textAdj {
        width: 100%;
        float: none;
    }

    #imgTab {
        /*    border: 1px solid #000;*/
        width: 100%;
        margin: 3% auto;
        float: none;
        height: 306px;
        max-width: 600px;
    }

    #mejorInterfaz {
        text-align: center;
        overflow: hidden;
        margin-top: 4%;
        margin-bottom: 2%;
    }

    #imgInterfaz {
        margin: 0 auto;
        width: 70%;
        float: none;
        height: 400px;
    }

    #txtInterfaz {
        width: 90%;
        padding: 3% 0 5%;
        float: none;
        margin: 0 auto;
    }

    #iconsRedes {
        width: 31%;
        margin: 0 auto;
        float: none;
        padding: 3% 5% 5% 7%;
    }

    #links {
        width: 90%;
        float: none;
        margin: 0 auto;
        padding: 3% 3% 5% 10%;
        text-align: center;
    }

    #links li {
        width: 29%;
    }

    #bajo {
        margin: 0 auto;
        font-size: 14px;
        height: 20%;
    }

    #terms {
        overflow: hidden;
        width: 100%;
        text-align: center;
    }

    #terms li {
        width: 25%;
        margin: 0 auto;
        padding: 5% 0;
    }

    #lengua {
        float: none;
        background-position: left 20% top;
    }

    #cuadro {
        margin: 0 auto;
    }



    /*********************media queri fin 777px*****/
